/* File: styles/globals.css */    
@import "tailwindcss";

:root {
  --color-primary: #0047AB; /* Deep Blue */
  --color-accent: #3D9970;  /* Muted Green */
  --color-dark-blue:#122741;
  --color-white: #FFFFFF;
  --color-light: #F8F8F8;
  --color-gray: #1E1E1E;  
}

body {
  color: var(--color-primary);
  background-color: var(--color-white);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
